/**
 * Colors
 **/
$colorOrange:#FF8500;
$colorBtnOrange:#FFB902;
$colorBtnBlue:#16B8BB;
$colorBtnBlue2:#21B8EB;
$colorGreen:#A6BB16;
$colorText:#4A4A4A;
$colorGray:#CDCDCD;
$colorGrayText:#9B9B9B;
$colorGrayMenu:#424242;
$colorGrayMenuActive: #5e5e5e;

/**
 * Sizes
 **/
$fontSizeInput:40px;

/**
 * Media queries
 **/
$media_iPhone4:   "screen and (min-width:320px) and (min-height:480px)";
$media_iPhone5:   "screen and (min-width:320px) and (min-height:568px)";
$media_iPhone6:   "screen and (min-width:375px) and (min-height:627px)";
$media_iPhone6s:  "screen and (min-width:414px) and (min-height:736px)";
$media_iPad:      "screen and (min-width:768px) and (min-height:1024px)";

/**
 * Disable selection
 **/
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/**
 * Livereload overlay
 **/
#__bs_notify__{
  padding: 0 !important;
  opacity:0.5 !important;
  font-size:10px !important;
  left:30% !important;
  right:inherit !important;
}

.statusbar-overlay {
  background:#586875;
}

.navbar {
  background-color: $colorGreen;
  color: white;
  font-family: Avenir;
}



.navbar:after {
  background:none;
}

.smart-select-page .navbar {
  display: none;
}

.smart-select-page ul {
  background: none;
}

label.label-radio input[type=radio]:checked~.item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%23FFFFFF'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E");
}

.page-content {
  margin-top: 44px;
}

body, .page, .page-content {
  background-color: white;
  color:black;
}



img.preloader{
  position: absolute;
  top:-1000px;
  left:-1000px;
  width:1px;
  height: 1px;
}


.loading-overlay {
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  background:url("../img/app/three-dots.svg") no-repeat center, linear-gradient(#252525, #191919);
  z-index: 999999;
  opacity: 1.0;
  transition-property: opacity, top;
  transition-duration: 0.7s;
}

.navbar, .page {
  transition: filter 1s;
}

.blur {
  filter:blur(4px);
}


.button-note {
  position: absolute;
  bottom: 20px;
  right:20px;
  width:60px;
  height: 60px;
  border-radius: 50%;
  z-index: 10001;
}

.blur-back-shadow {
  width:100%;
  height: 100%;
  background-color: black;
  opacity:0;
  position: absolute;
  top:0;
  left:0;
  z-index: 10000;
  transition: opacity 0.2s;
  display: none;
}

.button-note ul {
  list-style: none;
  padding: 0;
}

.button-note ul li {
  position: absolute;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 10px;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.8, 0.01, 0.2, 1.1);
  background: center no-repeat;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.button-note-item .tip {
  position: absolute;
  height: 17px;
  background-color: white;
  padding: 3px 3px 3px 5px;
  left:-102px;/*-87px in 0*/
  top:9px;
  transition: opacity 0.5s;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  color:#4A4A4A;
  font-size: 14px;
  pointer-events: none;
}

.button-note-weight .tip {
  left:-122px;
}

.button-note-note .tip {
  left:-95px;
}

.button-note-eat .tip {
  left:-91px;
}

.button-note-water .tip {
  left:-103px;
}

.closed .button-note-item .tip {
  opacity: 0;
}

.button-note-item .triangle {
  position: absolute;
  right:-10px;
  top:-1px;
  width:0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 12px 0 12px 10px;
  border-color: transparent transparent transparent #fff;
}

.button-note-item .border {
  position: absolute;
  right:-12px;
  top:-1px;
  width:0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 13px 0 13px 12px;
  border-color: transparent transparent transparent rgba(70, 70, 70, 0.05);
}

.button-note.closed ul li {
  top:10px;
  animation-fill-mode: forwards;
}

button-note-round {
  position: absolute;
  width:70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  z-index: 1000;
  background:#FD8219 url("../img/plus.svg") no-repeat center;
  transition: transform 0.3s;
  transform: rotate(45deg);
  //box-shadow: 0 3px 5px rgba(0, 0, 0, .2); TODO: add shadow to button-note!
  /*
  animation-duration: 0.3s;
  animation-name: button-note-round-open;
  animation-fill-mode: forwards;
  */
}

.closed button-note-round {
  transform: rotate(0deg);
  /*
  animation-name: button-note-round-close;
  */
}
/*
@keyframes button-note-round-close {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes button-note-round-open {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}
*/

.button-note ul li.button-note-weight {
  animation-name: button-note-weight;
  background-color: #A6BB16;
  background-image:url("../img/icon-weight.svg");
}

.button-note.closed ul li.button-note-weight {
  animation-name: button-note-weight-close;
}

.button-note ul li.button-note-note {
  animation-name: button-note-note;
  background-color: #16B8BB;
  background-image:url("../img/icon-note.svg");
}

.button-note.closed ul li.button-note-note {
  animation-name: button-note-note-close;
}

.button-note ul li.button-note-eat {
  animation-name: button-note-eat;
  background-color: #FFB902;
  background-image:url("../img/icon-eat.svg");
}

.button-note.closed ul li.button-note-eat {
  animation-name: button-note-eat-close;
}

.button-note ul li.button-note-water {
  animation-name: button-note-water;
  background-color: #21B8EB;
  background-image:url("../img/icon-water.svg");
}

.button-note.closed ul li.button-note-water {
  animation-name: button-note-water-close;
}

.button-note-weight {
  top:-240px;
}
.button-note-note {
  top:-180px;
}
.button-note-eat {
  top:-120px;
}
.button-note-water {
  top:-60px;
}

@keyframes button-note-weight {
  from {
    top:10px;
  }
  to {
    top:-240px;
  }
}

@keyframes button-note-weight-close {
  to {
    top:10px;
  }
  from {
    top:-240px;
  }
}

@keyframes button-note-note {
  from {
    top:10px;
  }
  to {
    top:-180px;
  }
}

@keyframes button-note-note-close {
  to {
    top:10px;
  }
  from {
    top:-180px;
  }
}

@keyframes button-note-eat {
  from {
    top:10px;
  }
  to {
    top:-120px;
  }
}

@keyframes button-note-eat-close {
  to {
    top:10px;
  }
  from {
    top:-120px;
  }
}

@keyframes button-note-eat-close {
  to {
    top:10px;
  }
  from {
    top:-120px;
  }
}

@keyframes button-note-eat-close {
  to {
    top:10px;
  }
  from {
    top:-120px;
  }
}

@keyframes button-note-water {
  from {
    top:10px;
  }
  to {
    top:-60px;
  }
}

@keyframes button-note-water-close {
  from {
    top:-60px;
  }
  to {
    top:10px;
  }
}

/******-GOAL-********/

$goalRoundSize_iPhone4:120px;
$goalRoundSize_iPhone5:150px;
$goalRoundSize_iPhone6:190px;
$goalRoundSize:$goalRoundSize_iPhone6;//default size

$goalRoundsSpaceBetween:20px;
$goalRoundInnerSize:$goalRoundSize - $goalRoundsSpaceBetween;
$goalRoundInnerSize_iPhone4:$goalRoundSize_iPhone4 - $goalRoundsSpaceBetween;
$goalRoundInnerSize_iPhone5:$goalRoundSize_iPhone5 - $goalRoundsSpaceBetween;
$goalRoundInnerSize_iPhone6:$goalRoundSize_iPhone6 - $goalRoundsSpaceBetween;


@mixin goalMediaQueries(){
  @media #{$media_iPhone4} {
    width:$goalRoundSize_iPhone4;
    height:$goalRoundSize_iPhone4;
  }

  @media #{$media_iPhone5} {
    width:$goalRoundSize_iPhone5;
    height:$goalRoundSize_iPhone5;
  }

  @media #{$media_iPhone6} {
    width:$goalRoundSize_iPhone6;
    height:$goalRoundSize_iPhone6;
  }
}

.goal-view {
  margin-top:10px;
  width:100%;
  display: flex;
  flex-direction: row;


  .goal-diff-title-up,
  .goal-diff-title-down {
    background: url("../img/triangle-yellow.svg") center bottom no-repeat;
    min-width: 20px;
    min-height: 12px;
  }

  .goal-diff-title-up.green,
  .goal-diff-title-down.green {
    background: url("../img/triangle-green.svg") center bottom no-repeat;
  }

  .goal-diff-title-down {
    transform: rotate(180deg);
  }

  .goal-diff-title-up.hide,
  .goal-diff-title-down.hide {
    background: none;
  }



  .goal-left,
  .goal-right,
  .goal-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .goal-left,
  .goal-right {
    flex:0 0 25%;
  }

  .goal-left {
    color:$colorText;
  }

  .goal-right {
    color:$colorGreen;
  }

  .goal-middle {
    flex:0 0 50%;
    position: relative;
    width:190px;
    height: 190px;

    @include goalMediaQueries();

    .goal-round {
      width:190px;
      height: 190px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      position: absolute;
      top:0;
      left:0;

      @include goalMediaQueries();

    }

    .goal-round-inner {
      width:$goalRoundSize_iPhone6 - $goalRoundsSpaceBetween;
      height:$goalRoundSize_iPhone6 - $goalRoundsSpaceBetween;
      border-radius: 50%;
      border:3px solid $colorGreen;
      position: absolute;
      top:7px;
      left:7px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align:center;

      @media #{$media_iPhone4} {
        width:$goalRoundInnerSize_iPhone4;
        height:$goalRoundInnerSize_iPhone4;
      }

      @media #{$media_iPhone5} {
        width:$goalRoundInnerSize_iPhone5;
        height:$goalRoundInnerSize_iPhone5;
      }

      @media #{$media_iPhone6} {
        width:$goalRoundInnerSize_iPhone6;
        height:$goalRoundInnerSize_iPhone6;
      }

      .goal-current-weight {
        margin-top:-5px;
      }

      .goal-text {
        font-size:58px;
      }

      .goal-weight {
        color:$colorGreen;
      }

      .goal-title {
        margin-top:-16px;
        font-size:14px;
      }
    }

  }

}

.diary-eat-next {
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  height: 100px;
  width:100%;
  font-size: 29px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:$colorOrange;
  position: absolute;
  bottom: 39px;
  a {
    color:$colorOrange;
    border-bottom: 1px dotted $colorGray;
    margin-left: 10px;
  }
}

.products-list {
  ul, li {
    padding: 0;
    list-style: none;
  }
  li.product {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $colorGray;
    border-top: 1px solid $colorGray;
  }
}

.note-add-eat-list {
  max-height: 448px;
  overflow: scroll;
  margin-top:5px;
}

.products-list-plus {
  display: block;
  width:80%;
  height: 30px;
  color:$colorGrayText;
  background: url("../img/icon-plus.svg") center right no-repeat;
  padding: 20px;
}

.note-add-eat-title {
  input[type="text"]{
    width:100%;
    height:50px;
    font-size: $fontSizeInput;
    color:$colorOrange;
    border:none;
    border-bottom:1px dashed $colorGray;
  }
}

.products-count {
  max-width: 98%;
  padding: 0;
  margin: 0;
  margin-top:20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:$colorText;

  .products-count-input-text,
  .products-count-input-range,
  .products-count-btn-submit {
    width:100%;
  }

  .products-count-input-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  input[type="text"] {
    width:100px;
    height: 50px;
    border:none;
    border-bottom:1px dashed $colorGray;
    margin:0 auto;
    display: inline-block;
    text-align: center;
    font-size: $fontSizeInput;
  }

  .products-count-btn-submit {
    height: 50px;
    background: $colorOrange;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products-count-units {

  }
}

input[type="text"].date-picker {
  width:100%;
  height: 20px;
  font-size: 20px;
  color:$colorText;
  border:none;
  border-bottom: 1px dashed $colorGray;
  padding: 5px 0;
}

$diaryViewIconWidthGone:40px;
$diaryViewIconWidth:$diaryViewIconWidthGone - 2px;
.diary-view {

  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.25);
  margin:0;


  .icon{

    width:$diaryViewIconWidth;
    height: $diaryViewIconWidth;
    border-radius: 50%;
    background-position: center;
    background-repeat:no-repeat;
    background-size: 50%;
    background-color: white;



    &.note-measure {
      background-image:url("../img/icon-weight-color.svg");
      border:1px solid $colorGreen;

      &.gone {
        background-image:url("../img/icon-weight.svg");
        width:$diaryViewIconWidthGone;
        height: $diaryViewIconWidthGone;
        background-color: $colorGreen;
      }
    }

    &.note-note {
      background-image:url("../img/icon-note-color.svg");
      border:1px solid $colorBtnBlue;

      &.gone {
        background-image:url("../img/icon-note.svg");
        background-color: $colorBtnBlue;
        width:$diaryViewIconWidthGone;
        height: $diaryViewIconWidthGone;
      }
    }


    &.note-eat {
      background-image:url("../img/icon-eat-color.svg");
      border:1px solid $colorOrange;

      &.gone {
        background-image:url("../img/icon-eat.svg");
        //box-shadow: 0px 0px 1px 1px $colorOrange inset;
        width:$diaryViewIconWidthGone;
        height: $diaryViewIconWidthGone;
        background-color: $colorOrange;
      }
    }


    &.note-water {
      background-image:url("../img/icon-water-color.svg");
      border:1px solid $colorBtnBlue2;

      &.gone {
        background-image:url("../img/icon-water.svg");
        width:$diaryViewIconWidthGone;
        height: $diaryViewIconWidthGone;
        background-color: $colorBtnBlue2;
      }
    }


  }

}

i.icon.icon-menu {
  width:24px;
  height: 24px;
  background: url("../img/icon-menu.svg") center no-repeat;
  background-size: auto;
}

i.icon.icon-share {
  width:24px;
  height: 24px;
  background: url("../img/icon-share.svg") center no-repeat;
  background-size: auto;
}

.icon-calendar {
  width:18px;
  height: 20px;
  background: url("../img/icon-calendar.svg");
}

.diary-view-datepicker {
  height: 300px;
  width:100%;
  background-color: #F2EFEA;
  margin-top:0;
  transition: margin-top 0.5s;

  &.shifted {
    margin-top:-300px;
  }
}

.diary-view-wrapper {
  max-height: 100%;
}


.charts {
  display:block;
  width:100%;
  height: 150px;
}

.menu-main {

  color:white;

  &.panel {
    background: $colorGrayMenu;
    font-weight: 200;
  }

  .list-block ul {
    background: $colorGrayMenu;
  }

  .list-block .item-title {
    padding-left: 20px;
  }

  .list-block .item-content {
    padding-left: 0;
  }

  .list-block .item-inner:after,
  .list-block ul:after,
  .list-block ul:before {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .list-block .item-link.active-state, html:not(.watch-active-state) .list-block .item-link:active {
    background: $colorGrayMenuActive;
  }

  .list-block .item-link .item-inner { 
    background-image:url("../img/arrow-right.svg");
  }

  .menu-profiles {

    background-color: rgba(0, 0, 0, 0.1);

    .profiles-list {
      opacity:0;
      transition: opacity 0.5s;
       &.expanded {
         opacity:1;
       }
    }

    .profile {
      height: 65px;
      width:100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .profile-image {
        padding: 10px;
      }

      .profile-text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        font-size:17px;

        .profile-diet {
          font-size:12px;
          text-align: left;
        }
      }

      .profile-triangle {
        padding-left: 10px;
        width:20px;
        height: 20px;
        background: url("../img/triangle-wite.svg") no-repeat center;
        transform: rotate(-180deg);
        transform-origin: center 11px;
        transition: transform 0.2s;
        position: absolute;
        right:6px;
        top: calc(50% - 15px);
        opacity:0.5;
        &.expanded {
          transform: rotate(0deg);
        }
      }

    }

  }
}

.menu-main {

  &.list-block {
    margin-top:0px;
  }

  ul {
    transition: transform 0.5s;
  }

  &.expanded ul{

  }


}